.title_container {
  width: 95%;
  max-width: 1150px;
  margin: 0 auto;
  text-align: center;
}

.title {
  font-size: 64px;
  color: #222222;
  font-weight: 600;
}

.sub_title_container {
  width: 95%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 50px 0;
}

.sub_title {
  font-size: 42px;
  color: #222222;
  font-weight: 600;
}

.discription {
  font-size: 19px;
  color: #444444;
  font-weight: 400;
}
