/* _css/CategoryButton.module.css */

.categoryButton {
  width: auto;
  padding: 0;
}

.categoryIcon {
  width: 28px;
  height: 32px;
  margin: 0 auto;
}

.categoryIcon img {
  width: 28px; /* 이미지를 부모 요소의 크기에 맞게 설정 */
}

.categoryButtonText {
  font-size: 15px;
  width: auto; /* 텍스트 너비를 아이콘과 일치하도록 설정 */
  min-width: 70px;
  text-align: center; /* 텍스트 가운데 정렬 */
}

@media screen and (max-width: 700px) {
  .categoryButton {
    width: auto;
  }

  .categoryIcon {
    width: 26px;
    height: 28px;
    margin: 0 auto;
  }

  .categoryIcon img {
    width: 100%; /* 이미지를 부모 요소의 크기에 맞게 설정 */
  }

  .categoryButtonText {
    font-size: 14px;
    width: auto; /* 텍스트 너비를 아이콘과 일치하도록 설정 */
    min-width: 60px;
    text-align: center; /* 텍스트 가운데 정렬 */
  }
}
