.circle {
  z-index: 2;
  position: absolute;
  border:solid;
  border-radius: 5px;
  border-width: 5px;
  border-color: #3174F4;
  width: 30px;
  height: 30px;
  background-color: white;
  transform: translateY(-15px);
}

.label {
  color: black;
  position: absolute;
  transform: translateY(-45px);
}

.selected {
  color: #3174F4;
  font-weight: bold;
}

.guidebar {
  height: 3px;
  background-color: #3174F4;
  color:#3174F4;
}